# .gitignore for Django projects

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.pyz
*.pyw
*.pyc

# Virtual environment
venv/
.env

# Django
*.log
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# Ignore local settings
local_settings.py

# Ignore IDE settings
.idea/
.vscode/

# Ignore database migrations
**/migrations/*.py
**/migrations/*.pyc

# Ignore Docker related files
Dockerfile
docker-compose.yml
.dockerignore

venv